.promo {
  max-width: 50vw;
  display: flex;
  max-width: 50vw;
  justify-content: center;
  flex-direction: column;

  h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 0.3em;
  }

  h1 {
    font-size: 170px;
    font-family: Viga;
    text-transform: uppercase;
  }

  p {
    line-height: 1.5;
  }
}