.logo {
  color: white;
  text-decoration: none;
  font-family: Viga;
  display: flex;
  gap: 7px;
  transition: 0.3s opacity;
  align-items: center;

  &:hover {
    opacity: 0.7;
  }

  &Title {
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    letter-spacing: 5px;
  }

  &Subtitle {
    font-size: 12px;
    opacity: 0.5;
    display: block;
    margin-top: 1px;
  }
}